
<br>

<div class = "card" style="width:700px;background:#40dc7e">
    <h2> {{currentlyDoing}} </h2>

    <br>

    <form (submit) = "onClick(name.value, price.value)">

        <div>
            <label style ="color: black"> Item Name:  </label>
            <input type = "text" value = "{{currentName}}" #name>

            <label style ="color: black"> Price:  </label>
            <input type = "number" value = "{{currentPrice}}" #price>

            <label style ="width:70px">    </label>

            <button (click)="onClick(name.value, price.value)">{{currentAction}}</button>

        </div>
        
    </form>

</div>



<br>
<br>

<h2>Your Items:</h2>
<hr>


    <div *ngFor="let product of itemsArray">
    
        <h3>{{product.name}}</h3>
        <h6>product ID: {{product._id}}</h6>
        <h6>Price: {{product.price}}</h6>
        <h6>Date Created:{{product.createdAt | date:'d'}}/{{product.createdAt | date:'MM'}}/{{product.createdAt | date:'y'}}</h6>
        <h6>Updated on:{{product.updatedAt | date:'d'}}/{{product.updatedAt | date:'MM'}}/{{product.updatedAt | date:'y'}}</h6>
        <h6>By: {{product.sellerName}}</h6>
        <button (click)= "editProduct(product)">edit</button><button (click)= "deleteProduct(product)">remove</button> 
        
        <hr>
 
    </div>

